node_modules/
.expo/
dist/
build/
.next/
coverage/

android/.gradle/
android/app/build/
ios/Pods/
ios/build/

.env
.env.local
.env.production

*.apk
*.aab
*.jks
*.keystore
*.zip
*.rar
*.7z

google-services.json
GoogleService-Info.plist

.DS_Store
npm-debug.log
yarn-error.log